.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), pointer !important;
}

#myPokemons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), pointer !important;
}

button {
  cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), pointer !important;
}

.card {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 10px solid transparent;
  border-image: url(https://scx2.b-cdn.net/gfx/news/2019/shapeoftheun.jpg) 30;
  border-radius: 5px;
  padding: 1rem;
  cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), pointer !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.8);
  font-family: "Righteous", cursive;
}

#PokemonPC{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
  margin-top: -50px;
}

#PokemonPlayer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left:200px;
}

#all{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}  

img{
  width: 200px;
  height: 200px;
}

#btnFight{
  margin-left: -450px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

#btnFight:active {
  border-color: #4a4a4a;
  outline: 0;
}

#btnFight:focus {
  border-color: #485fc7;
  outline: 0;
}

#btnFight:hover {
  border-color: #b5b5b5;
}

#btnFight:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}


.btnBack{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btnBack:active {
  border-color: #4a4a4a;
  outline: 0;
}

.btnBack:focus {
  border-color: #485fc7;
  outline: 0;
}

.btnBack:hover {
  border-color: #b5b5b5;
}

.btnBack:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}