.App {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  text-align: center;
  background-image: url(https://w0.peakpx.com/wallpaper/513/815/HD-wallpaper-pokemon-pokeball-white-pokemon-gray-grey-simple-white-pokeball.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), pointer !important;
}

#myPokemons {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), pointer !important;
}

button {
  cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), pointer !important;
}

.card {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 10px solid transparent;
  border-image: url(https://scx2.b-cdn.net/gfx/news/2019/shapeoftheun.jpg) 30;
  border-radius: 5px;
  padding: 1rem;
  cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), pointer !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.8);
  font-family: "Righteous", cursive;
  margin-left: 30px;
  margin-top: 30px;
}

#PokemonPC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
  margin-top: -50px;
}

#PokemonPlayer {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}

#all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  width: 100px;
  height: 100px;
}

#btnFight {
  margin-left: -380px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

#btnFight:active {
  border-color: #4a4a4a;
  outline: 0;
}

#btnFight:focus {
  border-color: #485fc7;
  outline: 0;
}

#btnFight:hover {
  border-color: #b5b5b5;
}

#btnFight:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

.btnBack {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btnBack:active {
  border-color: #4a4a4a;
  outline: 0;
}

.btnBack:focus {
  border-color: #485fc7;
  outline: 0;
}

.btnBack:hover {
  border-color: #b5b5b5;
}

.btnBack:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

.locations {
  transform: scale(0.8);
  margin-bottom: -13px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.location {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.location {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
